@model TVLSecurity.Web.Models.ChangePasswordModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Change Password";
}

<p>
    Use the form below to change your password.
</p>
<p>
    New passwords are required to be a minimum of
    @Html.Encode(ViewData["PasswordLength"])
    characters in length.
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <div class="form-group">
                @Html.LabelFor(m=>m.OldPassword)           
                @Html.Password("OldPassword", Model.OldPassword ,new { @class="form-control"})
                @*@Html.Password("OldPassword", Model.OldPassword, new { @class = "", @minLength = "6", @maxlength = "64" })*@
                @Html.ValidationMessage("OldPassword")
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)           
                @*@Html.Password("NewPassword",Model.NewPassword)*@
                @Html.Password("NewPassword", Model.OldPassword, new { @class = "form-control", @minLength = "6", @maxlength = "64" })
                @Html.ValidationMessage("NewPassword")
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
           
                @*@Html.Password("ConfirmPassword", Model.ConfirmPassword)*@
                @Html.Password("ConfirmPassword", Model.OldPassword, new { @class = "form-control", @minLength = "6", @maxlength = "64" })
                @Html.ValidationMessage("ConfirmPassword")
            </div>
            <p>               
                <input class="btn btn-primary" type="submit" value="Change Password" />
            </p>
        </fieldset>
    </div>
} 