@model TVLSecurity.Web.Models.UserFormViewModel

@{
    Layout = null;    
}

<script type="text/javascript">

    $(document).ready(function () {
        var childTable = $('#tblChild').DataTable({
            "paging": true,
            "scrollX": true,
            "aoColumnDefs": [
                 {
                     "bSortable": false,
                     "aTargets": [0] // <-- gets first column and turns off sorting
                 }
            ]
        });

        $(".modal-wide").on("show.bs.modal", function () {
            var height = $(window).height() - 200;
            $(this).find(".modal-body").css("max-height", height);
        });

        $('#strSearchEmpID').on('change keyup blur', function () {
            var str = $(this).val();
            childTable.columns(1).search(str).draw();
        });

        $('#strSearchEmpName').on('change keyup blur', function () {
            var str = $(this).val();
            childTable.columns(2).search(str).draw();

        });

        $('#strSearchDepartmentID').on('change', function () {
            var str = $('#strSearchDepartmentID option:selected').text();
            if (str == 'Select One') {
                str = '';
            }
            childTable.columns(4).search(str).draw();
        });

    });

    function searchEmpData() {
        var targetDiv = "#ChildDialogEmp";
        var url = "/Security/User/EmployeeList";

        var form = $("#frmEmpList");

        var serializedForm = form.serialize();

        $.post(url, serializedForm, function (result) {

            $(targetDiv).html(result);

        }, "html");
        return false;
    }


    function GetCellValue(empId, empName, empEmail, LoginId, MobileNo) {
        document.getElementById('Model_User_EmpId').value = empId;
        document.getElementById('Model_User_LastName').value = empName;
        document.getElementById('Model_User_EmailAddress').value = empEmail;
        document.getElementById('Model_User_LoginId').value = LoginId;
        document.getElementById('Model_User_Phone').value = MobileNo;

        //$('#ChildDialogEmp').dialog('close');
        $('#childModal').modal('hide');
    }

</script>

<form id="frmEmpList" method="post" action="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Employee but not user</h4>
    </div>
    <div class="modal-body">
        <div class="form-group clearfix">
            <div class="row">
                <div class="col-sm-4">
                    @Html.Hidden("ZoneId", Model.ZoneId, new { @class = "textRegularSmall form-control", @maxlength = 50 })
                    <label>Employee ID</label>
                    @Html.TextBox("strSearchEmpID", Model.strSearchEmpID, new { @class = "textRegularSmall form-control", @maxlength = 50 })
                </div>
                <div class="col-sm-4">
                    <label>Name</label>
                    @Html.TextBox("strSearchEmpName", Model.strSearchEmpName, new { @class = "textRegularSmall form-control", @maxlength = 100 })
                </div>
                <div class="col-sm-4">
                    <label>Department</label>
                    @Html.DropDownList("strSearchDepartmentID", Model.DepartmentList, "Select One", new { @class = "form-control" })
                </div>
            </div>           
        </div>

        <div class="clearfix"></div>
        @if (Model.NoDataFound)
        {
            <div class="ui-corner-all divErrorMsg">
                <strong>@Model.Message</strong>
            </div>
        }
        else
        {
            <table id="tblChild" class="table table-striped table-bordered table-hover" cellspacing="0" style="width:100%">
                <thead style="background-color: #3f5c6c; color:#fff;text-align:center">
                    <tr>
                        <th>

                        </th>
                        <th>
                            Employee ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Department
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model.EmployeeList)
                {
                    <tr>
                        <td>
                            <a href="javascript:" class="gridCopy" onclick="return GetCellValue('@Html.Encode(item.EmpId)','@Html.Encode(item.EmpName)','@Html.Encode(item.strEmail)','@Html.Encode(item.EmpId)','@Html.Encode(item.MobileNo)');"><i class="fa fa-hand-o-right"></i></a>
                        </td>
                        <td id="tdEmpId">
                            @Html.Encode(item.EmpId)
                        </td>
                        <td>
                            @Html.Encode(item.EmpName)
                        </td>
                        <td>
                            @Html.Encode(item.Designation)
                        </td>
                        <td>
                            @Html.Encode(item.Department)
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</form>
