@model TVLSecurity.Web.Models.MenuFormViewModel
@{
    Layout = null;
    ViewBag.Title = "Create";
}

<form id="frmMenuCreate" method="post" action="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Menu</h4>
    </div>

    <div class="modal-body">
        <div class="clearfix">
            @if (!Model.IsValidModel)
            {
            <div class="ui-corner-all divErrorMsg">
                <strong>
                    @Model.Message
                </strong>
            </div>
            }
            else
            {
            <div class="ui-corner-all divMsg">
                <strong>
                    @Model.Message
                </strong>
            </div>
            }
        </div>

        <div class="form-group">
            <div>
                <label>Application</label>
                <span class="labelRequired">*</span>
                @Html.Hidden("Model.SearchCraiteria.ApplicationId", Model.SearchCraiteria.ApplicationId)
                @Html.DropDownList("Model.Menu.ApplicationId", Model.ApplicationList, "Select One", new { @class = "form-control", @onchange = "return PopulateModuleDropDown();" })
                @Html.ValidationMessage("Model.Menu.ApplicationId")
            </div>
        </div>
        <div class="form-group">
            <div>
                <label>
                    Module
                </label>
                <span class="labelRequired">*</span>
                @Html.DropDownList("Model.Menu.ModuleId", Model.ModuleList, "Select One", new { @class = "form-control", @onchange = "return PopulateParentMenuDropDown();" })
                @Html.ValidationMessage("Model.Menu.ModuleId")
            </div>
        </div>
        <div class="form-group">
            <div>
                <label>
                    Parent Menu
                </label>
                @Html.DropDownList("Model.Menu.ParentMenuId", Model.MenuSelectList, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div>
                <label>
                    Menu Name
                </label>
                <span class="labelRequired">
                    *
                </span>
                @Html.TextBox("Model.Menu.MenuName", Model.Menu.MenuName, new { @class = "form-control", @maxlength = "50" })
                @Html.ValidationMessage("Model.Menu.MenuName")
            </div>
        </div>
        <div class="form-group">
            <div>
                <label>
                    Menu Caption
                </label>
                <span class="labelRequired">
                    *
                </span>
                @Html.TextBox("Model.Menu.MenuCaption", Model.Menu.MenuCaption, new { @class = "form-control", @maxlength = "100" })
                @Html.ValidationMessage("Model.Menu.MenuCaption")
            </div>
        </div>
        <div class="form-group">
            <div>
                <label>
                    Page Url
                </label>
                @Html.TextBox("Model.Menu.PageUrl", Model.Menu.PageUrl, new { @class = "form-control", @maxlength = "256" })
            </div>
        </div>
        <div class="form-group">
            <div>
                <label>
                    Serial No.
                </label>
                <span class="labelRequired">
                    *
                </span>
                @Html.TextBox("Model.Menu.SerialNo", Model.Menu.SerialNo, new { @class = "form-control",  @maxlength = "4" })
                @Html.ValidationMessage("Model.Menu.SerialNo")
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" onclick="return SaveData('frmMenuCreate', '/Security/Menu/Create', 'MyDialog');">Save changes</button>
    </div>

</form>

<script type="text/javascript">
        function PopulateModuleDropDown() {
            var url = "/Security/Menu/GetModuleList";
            var form = $("#frmMenuCreate");
            var serializedForm = form.serialize();
            $.post(url, serializedForm, function (result) {
                $("#Model_Menu_ModuleId").fillSelect(result);
            }, "json");

            return false;
        }
        function PopulateParentMenuDropDown() {

            var url = "/Security/Menu/GetParentMenuList";
            var form = $("#frmMenuCreate");
            var serializedForm = form.serialize();

            $.post(url, serializedForm, function (result) {
                $("#Model_Menu_ParentMenuId").fillSelect(result);
            }, "json");

            return false;
        }

    </script>